---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "Python",
    icon: "vscode-icons:file-type-python",
    url: "https://python.org/",
  },
  {
    title: "Java",
    icon: "vscode-icons:file-type-java",
    url: "https://www.java.com/",
  },
  {
    title: "GitHub",
    icon: "fa-brands:github",
    url: "https://github.com",
  },
  {
    title: "JavaScript",
    icon: "vscode-icons:file-type-js-official",
    url: "https://www.windows.com/en-us/windows-server/",
  },
  {
    title: "AWS",
    icon: "vscode-icons:file-type-aws",
    url: "https://aws.amazon.com/",
  },
  {
    title: "Linux",
    icon: "fa-brands:linux",
    url: "https://www.linux.org/",
  },
];
---

<ContentSection title="Skills" id="compatibility">
  <Fragment slot="lead">
    Programming Languages, and Platforms I am <span class="text-primary">proficient</span> with{" "}
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Languages & Technologies"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
</ContentSection>
