---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "Python",
    icon: "vscode-icons:file-type-python",
    url: "https://python.org/",
  },
  {
    title: "Rev",
    icon: "mdi:code-brackets",
    url: "https://www.reverseengineering.com/",
  },
  {
    title: "Cloud",
    icon: "mdi:cloud",
    url: "https://aws.amazon.com/",
  },
  {
    title: "Pen-Testing",
    icon: "mdi:sword",
    url: "https://www.offensive-security.com/",
  },
  {
    title: "Networking",
    icon: "mdi:server-network",
    url: "https://www.wireshark.org/",
  },
  {
    title: "Linux",
    icon: "fa-brands:linux",
    url: "https://www.linux.org/",
  },
];
---

<ContentSection title="Skills" id="compatibility">
  <Fragment slot="lead">
    Programming Languages, and Platforms I am <span class="text-primary">proficient</span> with{" "}
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Languages & Technologies"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
</ContentSection>
