---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "CompTIA Security+",
    description:
      "The CompTIA Security+ certification is a globally recognized credential that validates the baseline skills needed to perform core security functions and pursue an IT security career.",
    icon: "mdi:lock",
  },
  {
    title: "GIAC (GFACT)",
    description:
      "The GFACT certification is a vendor-neutral credential that validates foundational knowledge of cybersecurity technologies and practices.",
    icon: "mdi:shield",
  },
  {
    title: "Cisco (CCNA)",
    description:
      "The CCNA certification is a vendor-neutral credential that validates the skills required to install, operate, and troubleshoot a small to medium-sized enterprise branch network.",
    icon: "mdi:router-wireless",
  },
];
---

<ContentSection title="Certifications" id="features">
  <Fragment slot="lead">
    I have a passion for <span class="text-primary">learning</span> and I am always looking for new ways to improve my 
    <span class="text-primary">skills.</span>
    Some of my <span class="text-primary">credentials</span> below.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 p-6 border border-default bg-offset">
          <div class="w-16 h-16 p-3 border-2 border-current rounded-full">
            <Icon name={icon} />
          </div>
          <p class="text-xl font-extrabold text-center">{title}</p>
          <p class="text-sm text-center text-offset">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
