---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "OSCP",
    description:
      "Think of OSCP as your ticket to hacking mastery. It's not just about managing networks; it's about outsmarting them. This is where you prove you can tackle real-world security challenges, not just talk about them.",
    icon: "mdi:alien-outline",
  },
  {
    title: "HTB CPTS",
    description:
      "HTB CPTS is where cyber gladiators are born. It's not just a certification; it's a battle royale of hacking skills. Dive into complex scenarios that make ordinary network challenges look like child's play.",
    icon: "mdi:sword-cross",
  },
  {
    title: "CompTIA Security+",
    description:
      "CompTIA Security+ isn't just a certification; it's your digital shield. It's about being the guardian of the cyber realm, understanding the ins and outs of IT security, and keeping the digital invaders at bay.",
    icon: "mdi:security-network",
  },
  {
    title: "GIAC (GFACT)",
    description:
      "GFACT is your first step into the cybersecurity universe. It's not just about learning the ropes; it's about grasping the very fabric of digital security and weaving your own path through the cyber threats.",
    icon: "mdi:matrix",
  },
  {
    title: "Cisco (CCNA)",
    description:
      "CCNA is where you become a network wizard. It's not just about connecting the dots; it's about orchestrating a symphony of networks that communicate in perfect harmony.",
    icon: "mdi:lan-connect",
  },
  {
    title: "eJPTv2 (eLearnSecurity)",
    description:
      "eJPTv2 is where your cyber adventure begins. It's not just a course; it's a journey into the heart of cybersecurity, where every challenge is an opportunity to prove your digital prowess.",
    icon: "mdi:rocket-launch-outline",
  },
];
---

<ContentSection title="Certifications" id="features">
  <Fragment slot="lead">
    I have a passion for <span class="text-primary">learning</span> and I am always looking for new ways to improve my 
    <span class="text-primary">skills.</span>
    Some of my <span class="text-primary">credentials</span> below.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 p-6 border border-default bg-offset">
          <div class="w-16 h-16 p-3 border-2 border-current rounded-full">
            <Icon name={icon} />
          </div>
          <p class="text-xl font-extrabold text-center">{title}</p>
          <p class="text-sm text-center text-offset">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
