---
import ContentSection from "~/components/content-section.astro";
import ShowcaseCard from "~/components/showcase-card.astro";
import { getShowcase } from "~/data/showcase";

const sites = await getShowcase();
---

<ContentSection title="Blog" id="showcase">
  <Fragment slot="lead">
    Check out my <a src='/blog'><span class="text-primary">Blog</span>.{" "}</a>
  </Fragment>
</ContentSection>

